@import 'general.css';

.video-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  column-gap: 20px;
  row-gap: 60px;
  margin-left: 98px;
}

.video-preview:hover {
  animation-delay: 3s;
}

/* Element-specific */


/* @media (max-width: 750px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(260px, 1fr))
  }
}

@media (min-width: 751px) and (max-width: 1079px) {
  .video-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr))
  }
}

@media (min-width: 1080px) and (max-width: 1550px) {
  .video-grid {
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    ;
  }
} */

/* @media (min-width: 1551px) {
  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  }
} */

.thumbnail-container {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  border-radius: 18px;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: var(--time-stamp);
  border-radius: 2px;
  padding: 4px;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: white;
}



.video-info-grid {
  grid-template-columns: 50px 1fr;
}

/* @media (max-width: 680px) {
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
} */


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;

}


.profile-picture {
  width: 36px;
  border-radius: 50px;
}



.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}